name: Build

on: push

jobs:
  build:
    name: Run tests
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: 1.17
      - run: go mod download
      - run: make test
      - run: make build
      - run: make build-all
